.header {
  grid-area: header;
  display: grid;
  grid-template-areas: "logo" "search" "navigation";
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: auto auto auto;
  text-transform: uppercase;
  padding: 0.3rem 0;
}
.header__title {
  grid-area: logo;
  display: flex;
  justify-content: center;
  grid-column: 1/21;
  grid-row: 1/1;
  margin: 1rem 0;
}
@media (max-width: 1200px) {
  .header__title-default {
    display: none;
  }
}
.header__title-mobile {
  display: flex;
}
@media (min-width: 1200px) {
  .header__title-mobile {
    display: none;
  }
}
.header__search {
  grid-area: input;
  display: flex;
  justify-content: center;
  grid-column: 1/21;
  grid-row: 2/2;
  width: 90%;
  margin: 0 auto;
  border: solid 1px #ddd;
  border-radius: 5px;
  overflow: hidden;
}
.header__search:hover {
  border-color: #000;
}
.header__search:before {
  content: "";
  background-image: url("../assets/lupa.svg");
  background-size: 15px 20px;
  margin: auto;
  display: inline-block;
  width: 15px;
  height: 20px;
  font-size: 0.7rem;
}
.header__search-input {
  width: 95%;
  border: none;
  font-size: 14px;
  padding: 10px 0;
}
.header__search-input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
.header__menu {
  grid-area: navigation;
  display: flex;
  grid-column: 1/21;
  width: 90%;
  margin: 1rem auto;
}
@media (max-width: 1200px) {
  .header__menu {
    grid-column: 2/2;
    grid-row: 1/1;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .header__menu:hover .header__menu-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: aquamarine;
    left: 0;
    top: 60px;
    width: 400px;
  }
}
.header__menu:hover .heaeder__search {
  display: none;
}
.header__menu img {
  width: 100px;
}
.header__menu-mobile {
  display: none;
  width: 100%;
  max-width: 30px;
}
@media (max-width: 1200px) {
  .header__menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.header__menu .mobile__default {
  display: flex;
  width: 100%;
  font-size: 0.5rem;
  justify-content: center;
}
.header__menu .mobile__close {
  display: none;
  width: 100%;
  font-size: 0.5rem;
  justify-content: center;
}
.header__menu .mobile:hover .mobile__close {
  display: flex;
}
.header__menu .mobile:hover .mobile__default {
  display: none;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__menu-list li a {
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 600;
  color: #000;
}
@media (max-width: 1200px) {
  .header__menu-list {
    display: none;
  }
}

.content {
  grid-area: content;
  grid-column: 1/1;
  grid-row: 2/2;
  width: 100%;
}
.content .breadcrumbs {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
  border-top: solid 1px #ddd;
}
.content .breadcrumbs .breadcrumbs__menu {
  width: 81%;
}
.content .breadcrumbs .breadcrumbs__menu .menu__list {
  display: flex;
  font-size: 0.85rem;
}
.content .breadcrumbs .breadcrumbs__menu .menu__list a {
  color: #777;
  text-decoration: none;
  margin: 0 5px;
}
.content .breadcrumbs .breadcrumbs__menu .menu__list a:first-child {
  margin-left: 0;
}
.content .breadcrumbs .breadcrumbs__menu .menu__list a:after {
  content: " /";
  color: #777;
}
@media (max-width: 1200px) {
  .content .breadcrumbs .breadcrumbs__menu .menu__list a {
    display: none;
  }
}
.content .breadcrumbs .breadcrumbs__menu .menu__list-item:last-child {
  font-weight: 700;
  color: #000;
}
@media (max-width: 1200px) {
  .content .breadcrumbs .breadcrumbs__menu .menu__list-item:last-child {
    font-weight: 400;
    margin: 0 auto;
    font-size: 2rem;
    text-transform: uppercase;
  }
}
.content .filters {
  display: flex;
  width: 81%;
  margin: 0 auto;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 0.7rem;
}
@media (max-width: 1200px) {
  .content .filters {
    display: none;
  }
}
.content .filters__menu {
  display: flex;
}
.content .filters__menu-item {
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.content .filters__menu-item:after {
  content: "";
  background-image: url(../assets/seta.svg);
  background-size: 20px 15px;
  margin-left: 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 0.7rem;
  transform: rotate(90deg);
}
.content .products {
  display: flex;
  margin: 0 auto;
  width: 81%;
}
.content .products__grid {
  display: flex;
  flex-wrap: wrap;
}
.content .products__grid-item {
  display: flex;
  flex-wrap: wrap;
  width: 23%;
  margin: 0 5px;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .content .products__grid-item {
    width: 30%;
  }
}
@media (max-width: 767.98px) {
  .content .products__grid-item {
    width: 45%;
  }
}
.content .products__grid .item__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.content .products__grid .item__card:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}
.content .products__grid .item__card .container {
  width: 100%;
}
.content .products__grid .item__card .container__img {
  width: 100%;
}
.content .products__grid .item__card-p {
  width: 100%;
}
.content .products__grid .item__card-p:last-child {
  font-weight: 700;
  line-height: 3;
}

.app {
  display: grid;
  grid-template-areas: "header" "content";
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  font-family: "Open Sans", sans-serif;
}
.app footer {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
