.content{
    grid-area: content;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    width: 100%;
    border-bottom: solid 3px $grey;

    .breadcrumbs{
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 1rem 0;
      border-top: solid 1px $grey;

      .breadcrumbs__menu{
        width: 81%;

        .menu{

          &__list{
            display: flex;
            font-size: 0.85rem;

            a{
              color: $dark-grey;
              text-decoration: none;
              margin: 0 5px;

              &:first-child{
                margin-left: 0;
              }

              &:after{
                content: " /";
                color: $dark-grey;
              }

              @include for-phone-and-tablet{
                  display: none;
              }
            }

            &-item:last-child{
              font-weight: 700;
              color: #000;

              @include for-phone-and-tablet{
                  font-weight: 400;
                  margin: 0 auto;
                  font-size: 2rem;
                  text-transform: uppercase;
              }
            }
          }
        }
      }
    }

    .filters{
      display: flex;
      width: 81%;
      margin: 0 auto;
      border-top: solid 1px $grey;
      border-bottom: solid 1px $grey;
      padding: 1rem 0;
      text-transform: uppercase;
      font-size: .7rem;

      @include for-phone-and-tablet{
          display: none;
      }
      
      &__menu{
        display: flex;

        &-item{
          margin: 0 10px;
          display: flex;
          align-items: center;

          &:after{
            content: "";
            background-image: url(../assets/seta.svg);
            background-size: 20px 15px;
            margin-left: 15px;
            display: inline-block;
            width: 15px; 
            height: 15px;
            font-size: .7rem;
            transform: rotate(90deg);
          }
        }
      }
    }

    .products{
      display: flex;
      margin: 0 auto;
      width: 81%;

      &__grid{
        display: flex;
        flex-wrap: wrap;

        &-item{
          display: flex;
          flex-wrap: wrap;
          width: 23%;
          margin: 0 5px;

          @include for-tablet-only{
              width: 30%;
          }
          @include for-phone-only{
              width: 45%;
          }
        }

        .item{
          &__card{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-transform: uppercase;
            font-size: .7rem;
            text-align: center;
            line-height: 1.5;
            margin-bottom: 2rem;

            &:hover{
              cursor: pointer;
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
            }

            .container{
              width: 100%;

              &__img{
                width: 100%;
              }
            }

            &-p{
              width: 100%;

              &:last-child{
                font-weight: 700;
                line-height: 3;
              }
            }
          }
        }
      }
    }
  }